---
import { SearchInput } from "../components/Input";
import BaseLayout from "../BaseLayout.astro";
import DownloadResult from "../components/DownloadResult";
import { downloadResult, pageProps, hero } from "../content/content";
import HowToUse from "../partials/HowToUse.astro";
import { howTo } from "../content/content";
---

<BaseLayout lang="" pageProps={pageProps}>
	<h1 class="text-center">{hero.title}</h1>
	<p class="lead text-center">{hero.description}</p>
	<div class="container">
		<SearchInput client:load />
		<DownloadResult client:load content={downloadResult} />
		<HowToUse howTo={howTo} />
	</div>
</BaseLayout>
