---
import { SearchInput } from "../../components/Input";
import BaseLayout from "../../BaseLayout.astro";
import DownloadResult from "../../components/DownloadResult";
import {
	downloadResult,
	pageProps,
	hero,
	howTo,
	placeholder,
} from "../../content/content-bn";
import HowToUse from "../../partials/HowToUse.astro";
---

<BaseLayout lang="bn" pageProps={pageProps}>
	<h1 class="text-center">{hero.title}</h1>
	<p class="lead text-center">{hero.description}</p>
	<div class="container">
		<SearchInput client:load placeholder={placeholder} />
		<DownloadResult client:load content={downloadResult} />
		<HowToUse howTo={howTo} />
	</div>
</BaseLayout>
